@font-face {
	font-family: 'Exo_2';
	src: url('/fonts/Exo_2/Exo2-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Exo_2';
	src: url('/fonts/Exo_2/Exo2-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
}

html,
body {
	margin: 0;
	padding: 0;
	background: #000;
	box-sizing: border-box;
}

body {
	/* when any colors change, be sure to update /lib/constants/colors as well */
	--neutral-0: oklch(5% 0 3);
	--neutral-50: oklch(10% 0 3);
	--neutral-100: oklch(15% 0 3);
	--neutral-150: oklch(20% 0 3);
	--neutral-200: oklch(25% 0 3);
	--neutral-250: oklch(30% 0 3);
	--neutral-300: oklch(35% 0 3);
	--neutral-350: oklch(40% 0 3);
	--neutral-400: oklch(45% 0 3);
	--neutral-450: oklch(50% 0 3);
	--neutral-500: oklch(55% 0 3);
	--neutral-550: oklch(60% 0 3);
	--neutral-600: oklch(65% 0 3);
	--neutral-650: oklch(70% 0 3);
	--neutral-700: oklch(75% 0 3);
	--neutral-750: oklch(80% 0 3);
	--neutral-800: oklch(85% 0 3);
	--neutral-850: oklch(90% 0 3);
	--neutral-900: oklch(95% 0 3);

	--primary-100: oklch(57.65% 0.1653 129.88);
	--primary-200: oklch(63.82% 0.1875 129.88);
	--primary-300: oklch(70.88% 0.2146 129.88);
	--primary-400: oklch(80% 0.2343 129.88);
	--primary-500: oklch(91.04% 0.2442 129.88);
	--primary-600: oklch(91.97% 0.2014 129.88);
	--primary-700: oklch(94.03% 0.1546 129.88);
	--primary-800: oklch(95.21% 0.1176 129.88);
	--primary-900: oklch(96.97% 0.0682 129.88);

	--secondary-100: oklch(42.65% 0.0888 199.98);
	--secondary-200: oklch(50.29% 0.0987 199.98);
	--secondary-300: oklch(57.06% 0.1184 199.98);
	--secondary-400: oklch(64.12% 0.1233 199.98);
	--secondary-500: oklch(70.49% 0.1148 199.98);
	--secondary-600: oklch(75.29% 0.1455 199.98);
	--secondary-700: oklch(82.35% 0.1653 199.98);
	--secondary-800: oklch(82.35% 0.1653 199.98);
	--secondary-900: oklch(90.88% 0.1233 199.98);

	--danger-100: oklch(36.18% 0.1209 23.29);
	--danger-200: oklch(43.53% 0.1579 23.29);
	--danger-300: oklch(49.71% 0.1825 23.29);
	--danger-400: oklch(56.18% 0.2171 23.29);
	--danger-500: oklch(62.65% 0.2417 23.29);
	--danger-600: oklch(66.18% 0.2097 23.29);
	--danger-700: oklch(69.41% 0.1801 23.29);
	--danger-800: oklch(73.53% 0.148 23.29);
	--danger-900: oklch(76.47% 0.1233 23.29);

	--success-100: oklch(39.71% 0.1061 254.12);
	--success-200: oklch(45.88% 0.1258 254.12);
	--success-300: oklch(52.65% 0.1406 254.12);
	--success-400: oklch(57.65% 0.1579 254.12);
	--success-500: oklch(62.94% 0.1653 254.12);
	--success-600: oklch(67.65% 0.1455 254.12);
	--success-700: oklch(71.76% 0.1283 254.12);
	--success-800: oklch(74.41% 0.1135 254.12);
	--success-900: oklch(79.71% 0.0863 254.12);

	--header-font: 'Exo_2', sans-serif;
	--body-font: 'Raleway', sans-serif;

	--outline-offset: 3px;

	min-height: 100dvh;
	background-color: var(--neutral-100);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
input,
label,
button,
a,
li,
ul,
ol,
textarea,
select,
option,
form,
section,
header,
footer,
main,
nav {
	color: var(--neutral-900);
}

body * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--body-font);
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.025rem;
	transition:
		color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out,
		opacity 0.15s ease-in-out;

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--neutral-300);
		border-radius: 3px;
	}

	scrollbar-width: thin;
	scrollbar-color: var(--neutral-300) transparent;
}

a,
button,
input,
textarea,
select,
label:has(input:focus-visible) {
	outline: none !important;

	&:focus-visible {
		outline: 1px dashed var(--neutral-800) !important;
		outline-offset: calc(var(--outline-offset) - 1px) !important;
	}
}

input,
textarea {
	font-size: 1rem;

	@media (min-width: 768px) {
		font-size: 0.875rem;
	}
}

p:not(:last-child) {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
	color: var(--primary-500);
	letter-spacing: 0.05rem;
	text-align: left;
}

h1 *,
.h1,
h2 *,
.h2,
h3 *,
.h3,
h4 *,
.h4,
h5 *,
.h5,
h6 *,
.h6 {
	font-family: var(--header-font);
	color: var(--primary-500);
	letter-spacing: 0.05rem;
}

.primary-font,
.primary-font * {
	font-family: var(--header-font);
	letter-spacing: 0.05rem;
}

h1,
h1 *,
.h1 {
	margin-bottom: 0.8rem;
	font-size: 2rem;
	line-height: 2.2rem;
}

h2,
h2 *,
.h2 {
	margin-bottom: 0.3rem;
	font-size: 1.7rem;
	line-height: 2rem;
}

h3,
h3 *,
.h3 {
	margin-bottom: 0.3rem;
	font-size: 1.45rem;
	line-height: 1.6rem;
}

h4,
h4 *,
.h4 {
	margin-bottom: 0.3rem;
	font-size: 1.25rem;
	line-height: 1.5rem;
}

h5,
h5 *,
.h5 {
	margin-bottom: 0.3rem;
	font-size: 1.1rem;
	line-height: 1.25rem;
}

h6,
h6 *,
.h6 {
	margin-bottom: 0.3rem;
	font-size: 1rem;
	line-height: 1.15rem;
}

p:not('m-0'):not(:last-child) {
	line-height: 1.5rem;
	margin-bottom: 0.5rem;
}

/* helper classes */
.error {
	color: var(--danger-500);
	font-size: 0.875rem;
	line-height: 1.1rem;
	text-indent: 0;
}

.hidden {
	display: none !important;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

.metadata {
	font-size: 0.875rem;
	color: var(--neutral-500);
}
